@use "../../utils/varaible" as *;
@use "../../utils/mixin" as *;
footer{
    background-color: $font-color-default;
    .container{
        margin-top: 100px;
        font-family: $font-family;
        .row{
            @include Flexible($align-i:flex-start,$gap:40px);
            padding-top: 50px;
            .col-lg-3{
                img{
                    max-width: 120px;
                    margin-bottom: 30px;
                }
                p{
                    @include Text($size:13px,$color:$font-color-white,$weight:$font-weight-400,$margin:0 0 20px 0);
                }
                input{
                    border: none;
                    border-radius: 10px;
                    font-size: 15px;
                    padding: 12px 24px;
                    margin-bottom: 30px;
                }
                button{
                    display: inline-block;
                    background-color: $font-color-primary;
                    color: $font-color-white;
                    border: none;
                    border-radius: 10px;
                    font-weight: 500;
                    font-size: 14px;
                    padding: 15px 20px;
                    margin-bottom: 30px;
                }
                .icons{
                    @include Flexible($align-i:center,$gap:20px);
                    i{
                        font-size: 25px;
                        color: rgb(223, 219, 219);
                    }
                }
            }
            .col-lg-8{
                .row{
                    .col-lg-3{
                        p{
                            @include Text($size:18px,$color:$font-color-white,$weight:$font-weight-500,$margin:0 0 40px 0); 
                        }
                        ul{
                            li{
                                @include Text($size:13px,$color:rgb(223, 219, 219),$weight:$font-weight-400,$margin:0 0 20px 0);  
                            }
                        }
                    }
                }
            }
            hr{
                color: $font-color-white;
            }
            .col-lg-12{
                margin-top: -30px;
                @include Flexible($align-i:center,$justify-c:space-between);
                color:rgb(223, 219, 219) ;
                p{
                    @include Text($size:13px,$weight:$font-weight-400);  
                }
            }
        }
    }
}